*{
    padding: 0;
    margin: 0;
}
nav ul li{
    display:inline-grid;
    list-style: none;
    padding: 20px 22px;
    font-size: x-large;
}
.header nav ul li a{
color: whitesmoke;
text-decoration: none;
}
.header nav ul li a:hover{
    color: chartreuse;
    font-style: bold;
    
    }
.header{
    background-color: darkblue;
   
}
.logo{
    padding: 27px 14px
}

nav{
    display: grid;
    grid-template-columns: 84px 1144px auto;
}
.container{
    background-color:aliceblue;
}
  .searchbar{
    padding: 17px;
}
.bar{
    width: 32%;
    height: 29px;
    border-radius: 11px;
    padding: 0px 9px;
}
.btn{
    padding: 2px 10px 2px 10px;
    background-color: darkblue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.footer{
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 20px;
    text-align: center;
}
.img{
    display: grid;
    justify-content: center;
    margin: 5px auto;
}
.footer:hover{
    color: darkblue;
}
.fullbox{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    background-color: white;
    /* overflow: scroll; */
    margin: 0px 100px;
    padding: 38px 0px;
}
.card{
    margin: 20px 100px;
}
.sub-category{
    text-align: center;
}
.sub-category:hover{
color: blue;
cursor: pointer;
}